body {
  margin: 0;
}

header {
  background-color: white;
  padding: 1rem;
  border-bottom: 1px solid #e5e4e2;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links a {
  margin-left: 6px;
  text-decoration: none;
  color: #353935;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.btn-primary {
  background-color: blue;
  color: white;
}

.hero {
  text-align: center;
  padding: 2rem;
}

.sub {
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items:center;
  background-color: white;
  
}

.sub-1 {
  border: solid grey 2px;
    flex-basis: 20%;
    padding: 20px;
}
.sub-2 {
  border: solid grey 2px;
    flex-basis: 20%;
    padding: 20px;
}
.sub-3 {
  border: solid grey 2px;
    flex-basis: 20%;
    padding: 20px;
}
footer {
  background-color:gainsboro;
  padding: 25px;
  text-align: center;
}
div {
  padding: 15;
  margin: 15;
  border-radius: 7cm;
}